button {
  -webkit-appearance: none;
  padding: $base-spacing;
  //paint
  @include box-shadow(.25rem, ', inset 0 0 0 .1rem #{$white}, inset 0 0 0 .2rem currentColor');
  background-color: $white;
  border-radius: 1rem;
  border: 0;
  color: currentColor;
  font-weight: bold;
  outline: none;
  transition: box-shadow .2s, background-color .1s;

  &:hover {
    @include box-shadow(.25rem, ', inset 0 0 0 .1rem #{$white}, inset 0 0 0 .3rem currentColor');
  }

  &:active {
    @include box-shadow(0, ', inset 0 0 0 .1rem #{$white}, inset 0 0 0 .2rem currentColor');
    background-color: currentColor;
  }
}
