button {
  -webkit-appearance: none;
  padding: $base-spacing;
  //paint
  font-weight: bold;
  background-color: transparent;
  border-radius: 1rem;
  border: 0;
  box-shadow: 0 0 0 0 currentColor, inset 0 0 0 .15rem currentColor;
  color: currentColor;
  outline: none;
  transition: box-shadow .2s;

  &:focus,
  &:hover {
    box-shadow: 0 0 0 .25rem currentColor, inset 0 0 0 0 currentColor;
  }

  &:active {
    box-shadow: 0 0 0 .25rem currentColor, inset 0 0 0 .15rem currentColor;
  }
}
