button {
  -webkit-appearance: none;
  background-color: lighten($blue, 5%);
  border: 1px solid rgba($white, .2);
  border-radius: 1000px;
  box-shadow: 0 .5rem 0 0 rgba($black, .1);
  color: $white;
  font-weight: bold;
  outline: none;
  padding: 1rem;

  &:hover {
    background-color: lighten($blue, 10%);
  }
}
