<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="static/bower-packages/normalize.css/normalize.css">
  <link rel="stylesheet" href="static/main.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <title>ViiLo</title>
</head>
<body >
  <div top-bar>
    <img src="static/img/logo.png" alt="" />
    <h1><a href="/">King of Pong</a></h1>
  </div>
  <div style="padding-top: 4.5rem;">
    {{{body}}}
  </div>
</body>
</html>
