$main-page: (
  layout-name: 'main-page',
  margin-size: $base-spacing,
  breakpoints: (
    mobile-small: (
      size: $breakpoint-mobile-small,
      area: (
        title: (
          grow: 1,
          shrink: 1,
          basis: 100%,
          order: 0,
          margin: (
            bottom: false,
            left: true,
            right: true,
            top: 7rem
          )
        ),
        main: (
          grow: 1,
          shrink: 1,
          basis: 100%,
          order: 0,
          margin: (
            bottom: true,
            left: false,
            right: false,
            top: true
          )
        )
      )
    ),
    tablet: (
      size: $breakpoint-tablet,
      area: (
        title: (
          grow: 0,
          shrink: 0,
          basis: 100%,
          order: 1,
          margin: (
            bottom: true,
            left: true,
            right: true,
            top: 7rem
          )
        ),
        main: (
          grow: 0,
          shrink: 0,
          basis: 100%,
          order: 1,
          margin: (
            bottom: true,
            left: true,
            right: true,
            top: true
          )
        )
      )
    ),
    laptop: (
      size: $breakpoint-laptop,
      area: (
        title: (
          grow: 0,
          shrink: 0,
          basis: 100%,
          order: 1,
          margin: (
            bottom: true,
            left: 15%,
            right: 15%,
            top: 7rem
          )
        ),
        main: (
          grow: 0,
          shrink: 0,
          basis: 100%,
          order: 1,
          margin: (
            bottom: true,
            left: 15%,
            right: 15%,
            top: true
          )
        )
      )
    )
  )
);

@include logjam($main-page);
