$overlay: (
  layout-name: 'overlay',
  margin-size: 2rem,
  breakpoints: (
    mobile-small: (
      size: $breakpoint-mobile-small,
      area: (
        title: (
          grow: 1,
          shrink: 1,
          basis: 0%,
          order: 0,
          margin: (
            bottom: true,
            left: true,
            right: true,
            top: true
          )
        ),
        close: (
          grow: 0,
          shrink: 0,
          basis: 7rem,
          order: 0,
          margin: (
            bottom: true,
            left: true,
            right: true,
            top: true
          )
        ),
        main: (
          grow: 1,
          shrink: 1,
          basis: 100%,
          order: 1,
          margin: (
            bottom: true,
            left: true,
            right: true,
            top: false
          )
        )
      )
    ),
    tablet: (
      size: $breakpoint-tablet,
      area: (
        title: (
          grow: 1,
          shrink: 1,
          basis: 0%,
          order: 0,
          margin: (
            bottom: true,
            left: true,
            right: true,
            top: true
          )
        ),
        close: (
          grow: 0,
          shrink: 0,
          basis: 7rem,
          order: 0,
          margin: (
            bottom: true,
            left: true,
            right: true,
            top: true
          )
        ),
        main: (
          grow: 1,
          shrink: 1,
          basis: 100%,
          order: 1,
          margin: (
            bottom: true,
            left: true,
            right: true,
            top: false
          )
        )
      )
    )
  )
);

@include logjam($overlay);
