$triple: (
  layout-name: 'triple',
  margin-size: $base-spacing,
  breakpoints: (
    mobile-small: (
      size: $breakpoint-mobile-small,
      area: (
        select: (
          grow: 1,
          shrink: 1,
          basis: 50%,
          order: 0,
          margin: (
            bottom: $base-spacing / 2,
            left: $base-spacing / 2,
            right: $base-spacing / 2,
            top: $base-spacing / 2
          )
        ),
        button: (
          grow: 1,
          shrink: 1,
          basis: 100%,
          order: 0,
          margin: (
            bottom: $base-spacing / 2,
            left: $base-spacing / 2,
            right: $base-spacing / 2,
            top: false
          )
        )
      )
    ),
    tablet: (
      size: $breakpoint-tablet,
      area: (
        select: (
          grow: 0,
          shrink: 0,
          basis: 33.33%,
          order: 1,
          margin: (
            bottom: true,
            left: true,
            right: true,
            top: true
          )
        ),
        button: (
          grow: 0,
          shrink: 0,
          basis: 33.33%,
          order: 1,
          margin: (
            bottom: true,
            left: true,
            right: true,
            top: true
          )
        )
      )
    )
  )
);

@include logjam($triple);
