<h2>Add Player</h2>

{{#if success}}
Success: {{success}}
{{/if}}

{{#if error}}
Error: {{error}}
{{/if}}

<form action="/players" method="POST">
    <label>
        Name
        <input type="text" name="name">
    </label>
    <input type="submit" value="Add">
</form>

<h2>Players</h2>

<table>
  <tr>
    <th>Name</th>
  </tr>
  {{#each players}}
    <tr>
      <td>{{name}}</td>
    </tr>
  {{/each}}
</table>