<h2 class="canon">Add Player</h2>
<form action="/players" method="POST">
    <label for="player-add">Name</label>
    <input id="player-add" type="text" name="name">
    <input type="submit" value="Add">
</form>

{{#if success}}
  Success: {{success}}
{{/if}}

{{#if error}}
  Error: {{error}}
{{/if}}
<hr>
<h2 class="canon">Player List</h2>
<ul>
  {{#each players}}
    <li>{{name}}</li>
  {{/each}}
</ul>
