html {
  font-size: 12px; }

[top-bar] {
  margin: 0;
  padding: 1rem;
  width: 100vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  background-color: #0074D9;
  box-shadow: 0 5px 0 0 rgba(17, 17, 17, 0.1);
  position: fixed; }
  [top-bar] h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    margin-left: 1rem; }
  [top-bar] .thin {
    font-weight: 100;
    font-size: 1.5rem;
    width: 100%; }
  [top-bar] img {
    width: 30px;
    height: 30px; }

[showoff] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 1.5rem;
  background-color: #f7f7f7;
  padding-bottom: 1.5rem; }
  [showoff] .panel {
    text-align: center;
    background: #fff;
    border-radius: 3px;
    width: auto;
    padding: 2rem;
    box-shadow: 0 2px 0 0 rgba(17, 17, 17, 0.1); }
  [showoff] i {
    font-size: 3rem;
    color: #FFDC00;
    position: absolute;
    top: 0;
    left: -2rem;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg); }
  [showoff] .king {
    display: inline-block;
    font-size: 4rem;
    margin: 0;
    margin-top: 1rem;
    color: #0074D9;
    position: relative; }
  [showoff] .subtitle {
    font-weight: 100;
    display: block;
    font-size: 1.5rem;
    color: #aaa; }

[leaderboard] {
  width: 100vw;
  margin-top: 1rem;
  font-size: 2rem;
  margin-top: 2rem; }
  [leaderboard] h2 {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    font-size: 2rem; }
  [leaderboard] .name {
    font-weight: bold;
    text-align: left;
    padding-left: 1rem; }
  [leaderboard] .rank {
    font-size: 2rem; }
  [leaderboard] .elo {
    color: #0074D9; }
  [leaderboard] .win {
    color: #2ECC40; }
  [leaderboard] .lose {
    color: #FF851B; }
  [leaderboard] .streak {
    color: #FF4136; }
  [leaderboard] .rank-heading {
    color: #FFDC00; }
  [leaderboard] .name-heading {
    text-align: left;
    padding-left: 1rem; }
  [leaderboard] .streak-heading {
    color: #FF4136; }
  [leaderboard] .elo-heading {
    color: #0074D9; }
  [leaderboard] .win-heading {
    color: #2ECC40; }
  [leaderboard] .lose-heading {
    color: #FF851B; }
  [leaderboard] .lastten-heading {
    color: #111;
    font-weight: bold; }
  [leaderboard] table {
    width: 93%;
    margin-left: auto;
    margin-right: auto; }
  [leaderboard] td {
    padding-bottom: 1rem;
    padding-top: 1rem; }
  [leaderboard] thead {
    border-bottom: 2px solid #ddd; }
    [leaderboard] thead th {
      font-weight: 100;
      font-size: 1.5rem;
      width: 20px;
      padding-bottom: 1rem; }
  [leaderboard] tbody tr {
    border-bottom: 1px dotted #ddd; }
  [leaderboard] tbody td {
    text-align: center; }
