html {
  font-size: 14px; }

body {
  background-color: #fff;
  font-family: 'Lato', sans-serif; }

button {
  -webkit-appearance: none;
  background-color: #0082f3;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1000px;
  box-shadow: 0 0.5rem 0 0 rgba(17, 17, 17, 0.1);
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  padding: 1rem; }
  button:hover {
    background-color: #0d8eff; }

[data-player-select] {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0074d9;
  box-shadow: 0 1rem 0 0 rgba(17, 17, 17, 0.1);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000; }
  [data-player-select] > * {
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: 1rem; }
  [data-player-select] .player-select {
    -webkit-appearance: none;
    border-radius: 10px;
    -webkit-flex: 1 0 calc(33.33% - 1rem);
    -ms-flex: 1 0 calc(33.33% - 1rem);
    flex: 1 0 calc(33.33% - 1rem);
    font-size: 1.5rem;
    padding: 1rem 2rem; }
  [data-player-select] button {
    -webkit-flex: 1 0 calc(33.33% - 1rem);
    -ms-flex: 1 0 calc(33.33% - 1rem);
    flex: 1 0 calc(33.33% - 1rem); }

[data-leaderboard] {
  font-size: 2rem;
  margin-top: 8rem;
  width: 100vw; }
  [data-leaderboard] h2 {
    font-size: 2rem;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    width: 93%; }
  [data-leaderboard] .provisional {
    opacity: .2; }
  [data-leaderboard] .name {
    font-weight: bold;
    padding-left: 1rem;
    text-align: left; }
  [data-leaderboard] .winlose {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%; }
  [data-leaderboard] .rank {
    font-size: 2rem; }
  [data-leaderboard] .elo {
    color: #0074d9; }
  [data-leaderboard] .win {
    color: #2ecc40;
    margin-right: .5rem; }
  [data-leaderboard] .lose {
    color: #ff851b;
    margin-left: .5rem; }
  [data-leaderboard] .streak {
    color: #ff4136; }
  [data-leaderboard] .percent {
    color: #aaa; }
  [data-leaderboard] .rank-heading {
    color: #ffdc00; }
  [data-leaderboard] .name-heading {
    padding-left: 1rem;
    text-align: left; }
  [data-leaderboard] .streak-heading {
    color: #ff4136; }
  [data-leaderboard] .elo-heading {
    color: #0074d9; }
  [data-leaderboard] .win-heading {
    color: #2ecc40;
    margin-right: .5rem; }
  [data-leaderboard] .lose-heading {
    color: #ff851b;
    margin-left: .5rem; }
  [data-leaderboard] .percent-heading {
    color: #aaa; }
  [data-leaderboard] .lastten-heading {
    color: #111;
    font-weight: bold; }
  [data-leaderboard] .muted {
    color: #aaa; }
  [data-leaderboard] table {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 4rem); }
  [data-leaderboard] td {
    padding-bottom: 1rem;
    padding-top: 1rem; }
  [data-leaderboard] thead {
    border-bottom: 2px solid #ddd; }
    [data-leaderboard] thead th {
      font-size: 1.5rem;
      font-weight: 100;
      padding-bottom: 1rem;
      width: 20px; }
  [data-leaderboard] tbody tr {
    border-bottom: 1px dotted #ddd; }
  [data-leaderboard] tbody td {
    text-align: center; }
