/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 18px; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background-color: #fff;
  font-family: 'Asap', sans-serif; }

main {
  width: 100%; }

table {
  width: 100%; }

td,
th {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center; }

thead {
  border-bottom: 2px solid #ddd; }

tr + tr {
  border-top: 1px solid rgba(221, 221, 221, 0.5); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0; }

.canon {
  font-size: 2.75rem; }

.trafalgar {
  font-size: 2rem; }

.double-pica {
  font-size: 1.5rem; }

.great-primer {
  font-size: 1.25rem; }

.pica {
  font-size: 1rem; }

.long-primer {
  font-size: 0.875rem; }

.brevier {
  font-size: 0.8125rem; }

.minion {
  font-size: 0.75rem; }

button {
  -webkit-appearance: none;
  background-color: #0082f3;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1000px;
  box-shadow: 0 0.5rem 0 0 rgba(17, 17, 17, 0.1);
  color: #fff;
  font-weight: bold;
  outline: none;
  padding: 1rem; }
  button:hover {
    background-color: #0d8eff; }

[data-player-select] {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0074d9;
  box-shadow: 0 1rem 0 0 rgba(17, 17, 17, 0.1);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }
  [data-player-select] > * {
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: 1rem; }
  [data-player-select] .player-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 0;
    border-radius: 10px;
    -webkit-flex: 1 0 calc(33.33% - 1rem);
    -ms-flex: 1 0 calc(33.33% - 1rem);
    flex: 1 0 calc(33.33% - 1rem);
    padding: 1rem 2rem; }
  [data-player-select] button {
    -webkit-flex: 1 0 calc(33.33% - 1rem);
    -ms-flex: 1 0 calc(33.33% - 1rem);
    flex: 1 0 calc(33.33% - 1rem); }

[data-leaderboard] {
  margin-top: 1rem; }
  [data-leaderboard] .provisional {
    opacity: .2; }
  [data-leaderboard] .rank-heading {
    color: #ffdc00; }
  [data-leaderboard] .rank,
  [data-leaderboard] .rank-heading {
    width: 2.5ex; }
  [data-leaderboard] .name,
  [data-leaderboard] .name-heading {
    text-align: left; }
  [data-leaderboard] .streak,
  [data-leaderboard] .streak-heading {
    color: #ff4136;
    width: 3ex; }
  [data-leaderboard] .elo,
  [data-leaderboard] .elo-heading {
    color: #0074d9;
    width: 10ex; }
  [data-leaderboard] .win,
  [data-leaderboard] .win-heading {
    color: #2ecc40; }
  [data-leaderboard] .lose,
  [data-leaderboard] .lose-heading {
    color: #ff851b; }
  [data-leaderboard] .winlose,
  [data-leaderboard] .winlose-heading {
    width: 10ex; }
  [data-leaderboard] .percent,
  [data-leaderboard] .percent-heading {
    color: #aaa;
    width: 5ex; }
  [data-leaderboard] .lastten,
  [data-leaderboard] .lastten-heading {
    width: 10ex; }
  [data-leaderboard] .tier {
    border-color: currentColor;
    border-top-width: 2px;
    text-transform: capitalize; }
  [data-leaderboard] .tier-diamond {
    background-color: rgba(127, 219, 255, 0.1);
    color: #4ccdff; }
  [data-leaderboard] .tier-gold {
    background-color: rgba(255, 220, 0, 0.1);
    color: #ccb000; }
  [data-leaderboard] .tier-silver {
    background-color: rgba(221, 221, 221, 0.1);
    color: #c4c4c4; }
  [data-leaderboard] .tier-bronze {
    background-color: rgba(255, 133, 27, 0.1);
    color: #e76b00; }

[data-container] {
  margin-left: 1rem;
  margin-right: 1rem; }
