[data-layout],
[data-area] {
  box-sizing: border-box; }

[data-layout] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

[data-area] {
  display: block; }

[data-layout~="justify-space-around"] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

[data-layout~="justify-start"] {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

[data-layout~="justify-space-between"] {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

[data-layout~="justify-end"] {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

[data-layout~="justify-center"] {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

[data-layout~="align-start"] {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

[data-layout~="align-end"] {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

[data-layout~="align-center"] {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

[data-layout~="align-baseline"] {
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

[data-layout~="align-stretch"] {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

[data-layout~="no-wrap"] {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }
  a:active,
  a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  background-color: #fff;
  font-family: 'Asap', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  display: block; }

.canon {
  font-size: 2.75rem; }

.trafalgar {
  font-size: 2rem; }

.double-pica {
  font-size: 1.5rem; }

.great-primer {
  font-size: 1.25rem; }

.pica {
  font-size: 1rem; }

.long-primer {
  font-size: 0.875rem; }

.brevier {
  font-size: 0.8125rem; }

.minion {
  font-size: 0.75rem; }

.subtitle {
  color: #ddd; }

html {
  font-size: 18px; }

main {
  width: 100%; }

p {
  margin: 0; }
  p + p {
    margin-top: 1rem; }

table {
  width: 100%; }

td,
th {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  text-align: center; }

thead {
  border-bottom: 2px solid #ddd; }

tbody tr {
  border-top: 1px solid rgba(221, 221, 221, 0.5); }

button {
  -webkit-appearance: none;
  padding: 1rem;
  box-shadow: 0 0.25rem 0 0.2rem rgba(17, 17, 17, 0.1) , inset 0 0 0 .1rem #fff, inset 0 0 0 .2rem currentColor;
  background-color: #fff;
  border-radius: 1rem;
  border: 0;
  color: currentColor;
  font-weight: bold;
  outline: none;
  transition: box-shadow 0.2s, background-color 0.1s; }
  button:hover {
    box-shadow: 0 0.25rem 0 0.2rem rgba(17, 17, 17, 0.1) , inset 0 0 0 .1rem #fff, inset 0 0 0 .3rem currentColor; }
  button:active {
    box-shadow: 0 0 0 0.2rem rgba(17, 17, 17, 0.1) , inset 0 0 0 .1rem #fff, inset 0 0 0 .2rem currentColor;
    background-color: currentColor; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: calc(100% - 1rem * 1) center;
  background-repeat: no-repeat;
  background-size: 0.5rem 0.5rem;
  border: 0;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem; }

@media all and (min-width: 320px) and (max-width: 768px) {
  [data-layout~="main-page"] > [data-area~="title"] {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0; }
    [data-layout~="main-page"] > [data-area~="title"] .wrapper {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-top: 7rem; }
  [data-layout~="main-page"] > [data-area~="main"] {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0; }
    [data-layout~="main-page"] > [data-area~="main"] .wrapper {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem; } }

@media all and (min-width: 769px) and (max-width: 1024px) {
  [data-layout~="main-page"] > [data-area~="title"] {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
    [data-layout~="main-page"] > [data-area~="title"] .wrapper {
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-top: 7rem; }
  [data-layout~="main-page"] > [data-area~="main"] {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
    [data-layout~="main-page"] > [data-area~="main"] .wrapper {
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-top: 0.5rem; } }

@media all and (min-width: 1025px) {
  [data-layout~="main-page"] > [data-area~="title"] {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
    [data-layout~="main-page"] > [data-area~="title"] .wrapper {
      margin-bottom: 0.5rem;
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 7rem; }
  [data-layout~="main-page"] > [data-area~="main"] {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
    [data-layout~="main-page"] > [data-area~="main"] .wrapper {
      margin-bottom: 0.5rem;
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 0.5rem; } }

@media all and (min-width: 320px) and (max-width: 768px) {
  [data-layout~="overlay"] > [data-area~="title"] {
    -webkit-flex-basis: 0%;
    -ms-flex-preferred-size: 0%;
    flex-basis: 0%;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0; }
    [data-layout~="overlay"] > [data-area~="title"] .wrapper {
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem; }
  [data-layout~="overlay"] > [data-area~="close"] {
    -webkit-flex-basis: 7rem;
    -ms-flex-preferred-size: 7rem;
    flex-basis: 7rem;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0; }
    [data-layout~="overlay"] > [data-area~="close"] .wrapper {
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem; }
  [data-layout~="overlay"] > [data-area~="main"] {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
    [data-layout~="overlay"] > [data-area~="main"] .wrapper {
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 1rem; } }

@media all and (min-width: 769px) {
  [data-layout~="overlay"] > [data-area~="title"] {
    -webkit-flex-basis: 0%;
    -ms-flex-preferred-size: 0%;
    flex-basis: 0%;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0; }
    [data-layout~="overlay"] > [data-area~="title"] .wrapper {
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem; }
  [data-layout~="overlay"] > [data-area~="close"] {
    -webkit-flex-basis: 7rem;
    -ms-flex-preferred-size: 7rem;
    flex-basis: 7rem;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0; }
    [data-layout~="overlay"] > [data-area~="close"] .wrapper {
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem; }
  [data-layout~="overlay"] > [data-area~="main"] {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
    [data-layout~="overlay"] > [data-area~="main"] .wrapper {
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 1rem; } }

@media all and (min-width: 320px) and (max-width: 768px) {
  [data-layout~="triple"] > [data-area~="select"] {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0; }
    [data-layout~="triple"] > [data-area~="select"] .wrapper {
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-top: 0.5rem; }
  [data-layout~="triple"] > [data-area~="button"] {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0; }
    [data-layout~="triple"] > [data-area~="button"] .wrapper {
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem; } }

@media all and (min-width: 769px) {
  [data-layout~="triple"] > [data-area~="select"] {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
    [data-layout~="triple"] > [data-area~="select"] .wrapper {
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-top: 0.5rem; }
  [data-layout~="triple"] > [data-area~="button"] {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
    [data-layout~="triple"] > [data-area~="button"] .wrapper {
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-top: 0.5rem; } }

[data-leaderboard] .provisional {
  opacity: .2; }

[data-leaderboard] .rank-heading {
  color: #ffdc00; }

[data-leaderboard] .rank,
[data-leaderboard] .rank-heading {
  width: 2.5ex; }

[data-leaderboard] .name,
[data-leaderboard] .name-heading {
  text-align: left; }

[data-leaderboard] .streak,
[data-leaderboard] .streak-heading {
  color: #ff4136;
  width: 3ex; }

[data-leaderboard] .elo,
[data-leaderboard] .elo-heading {
  color: #0074d9;
  width: 10ex; }

[data-leaderboard] .win,
[data-leaderboard] .win-heading {
  color: #2ecc40; }

[data-leaderboard] .lose,
[data-leaderboard] .lose-heading {
  color: #ff851b; }

[data-leaderboard] .winlose,
[data-leaderboard] .winlose-heading {
  width: 10ex; }

[data-leaderboard] .percent,
[data-leaderboard] .percent-heading {
  color: #aaa;
  width: 5ex; }

[data-leaderboard] .lastten,
[data-leaderboard] .lastten-heading {
  width: 10ex; }

[data-leaderboard] .tier {
  border-top: 2px solid currentColor;
  margin: 0;
  padding: 0;
  text-transform: capitalize; }

[data-leaderboard] .tier-diamond {
  background-color: rgba(127, 219, 255, 0.1);
  color: #7fdbff; }

[data-leaderboard] .tier-gold {
  background-color: rgba(255, 220, 0, 0.1);
  color: #ffdc00; }

[data-leaderboard] .tier-silver {
  background-color: rgba(221, 221, 221, 0.1);
  color: #ddd; }

[data-leaderboard] .tier-bronze {
  background-color: rgba(255, 133, 27, 0.1);
  color: #ff851b; }

@media all and (min-width: 320px) and (max-width: 768px) {
  [data-leaderboard] .percent,
  [data-leaderboard] .percent-heading,
  [data-leaderboard] .lastten,
  [data-leaderboard] .lastten-heading {
    display: none; } }

[data-overlay] {
  height: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000; }
  [data-overlay] .bounds {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    -webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    width: calc(100% - (1rem * 2));
    z-index: 2001;
    box-shadow: 0 1rem 0 0.2rem rgba(17, 17, 17, 0.1) ;
    background-color: #fff;
    border-radius: 0 0 1rem 1rem; }
  [data-overlay] button {
    width: 100%;
    color: #aaa;
    display: block; }
  [data-overlay] .scroll-box {
    max-height: 70vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll; }

[data-overlay~="active"] {
  height: 100vh; }
  [data-overlay~="active"] .bounds {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px); }

[data-player-select] {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 1rem 0 0.2rem rgba(17, 17, 17, 0.1) ;
  background-color: #0074d9; }
  [data-player-select] select {
    padding: 1rem 2rem; }
  [data-player-select] button {
    color: #0074d9; }
  [data-player-select] select,
  [data-player-select] button {
    width: 100%; }
    @media all and (min-width: 320px) and (max-width: 768px) {
      [data-player-select] select,
      [data-player-select] button {
        padding: 0.5rem 1rem; } }
