// Let's get this shit going, ITCSS tyme
// Settings: Global variables, config switches.
$base-font-size: 12px;
$base-spacing: 1rem;

$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

// Warm

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale

$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;

$background-color: rgba(246, 246, 246, 1);

// Tools: Default mixins and functions.
// Generic: Ground-zero styles (Normalize.css, resets, box-sizing).
// Base: Unclassed HTML elements (type selectors).
html {
  font-size: $base-font-size;
}

// Objects: Cosmetic-free design patterns.
// Components: Designed components, chunks of UI.
[top-bar] {

  margin: 0;
  padding: 1rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $white;
  background-color: $blue;
  box-shadow: 0 5px 0 0 rgba($black, .1);
  position: fixed;

  h1 {
    // text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    margin-left: 1rem;
  }

  .thin {
    font-weight: 100;
    font-size: 1.5rem;
    // display: block;
    width: 100%;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

[showoff] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    background-color: lighten($silver, 10%);
    padding-bottom: 1.5rem;
    .panel {
      text-align: center;
      background: $white;
      border-radius: 3px;
      width: auto;
      padding: 2rem;
      box-shadow: 0 2px 0 0 rgba($black, .1);
    }
    i {
      font-size: 3rem;
      color: $yellow;
      position: absolute;
      top: 0;
      left: -2rem;
      transform: rotate(10deg);
    }

  .king {
    display: inline-block;
    font-size: 4rem;
    // font-weight: 100;
    margin: 0;
    margin-top: 1rem;
    color: $blue;
    position: relative;
  }

  .subtitle {
    font-weight: 100;
    display: block;
    font-size: 1.5rem;
    color: $gray;
  }
}

[leaderboard] {
  h2  {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    font-size: 2rem;
  }
  width: 100vw;
  margin-top: $base-spacing;
  font-size: 2rem;
  margin-top: 2rem;

  .name {
    font-weight: bold;
    text-align: left;
    padding-left: 1rem;
  }
  .rank {
    font-size: 2rem;
  }

  .elo {
    color: $blue;
  }

  .win {
    color: $green;
  }

  .lose {
    color: $orange;
  }

  .streak {
    color: $red;
  }

  .rank-heading {
    color: $yellow;
  }

  .name-heading {
    text-align: left;
    padding-left: 1rem;
  }

  .streak-heading {
    color: $red;
  }

  .elo-heading {
    color: $blue;
  }

  .win-heading {
    color: $green;
  }

  .lose-heading {
    color: $orange;
  }

  .lastten-heading {
    color: $black;
    font-weight: bold;
  }

  table {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
  }

  td {
    padding-bottom: $base-spacing;
    padding-top: $base-spacing;

  }
  thead {
    border-bottom: 2px solid $silver;

    th {
      font-weight: 100;
      font-size: 1.5rem;
      width: 20px;
      padding-bottom: 1rem;
    }
  }

  tbody {

    tr {
      border-bottom: 1px dotted $silver;
    }

    td {
      text-align: center;
    }
  }
}
// Trumps: Helpers and overrides.
